# Binaries and build artifacts
bin/
manager
main
cover.out
*.out
*.test

# Git
.git/
.github/

# IDE and local configs
.idea/
.vscode/
.env

# Build caching and scripts
testbin/
hack/
test/

# Chart and CI
deploy/
